<app-navigation></app-navigation>

<div class="card">
  <div class="card-body">
    <div class="card-text">
      <h3 class="card-title text-center">Állásjelentkezéseim:</h3>
      <mat-form-field appearance="fill">
        <mat-label><b>Szűrés állásajánlatra:</b></mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="table-striped">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Cím: </b></th>
            <td mat-cell *matCellDef="let row"> {{row.advertisement.title}} </td>
          </ng-container>
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Város: </b></th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.advertisement.city"> {{row.advertisement.city}} </span>
              <span *ngIf="!row.advertisement.city"> Nincs megadva! </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Típus: </b></th>
            <td mat-cell *matCellDef="let row"> {{row.advertisement.type}} </td>
          </ng-container>
          <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Fizetés (Ft): </b></th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.advertisement.payment!=0"> {{row.advertisement.payment}} Ft</span>
              <span *ngIf="row.advertisement.payment==0"> Nincs megadva! </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="dateOfApplication">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Jelentkezés dátuma: </b></th>
            <td mat-cell *matCellDef="let row">
              {{row.application.dateOfApplication | date:'yyyy-MM-dd HH:mm'}}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Bővebben: </b></th>
            <td mat-cell *matCellDef="let row">
              <button class="btn btn-info" (click)="getAdvertisementDetails(row.application.id)">
                <i-bs name="card-list" width="25" height="25"></i-bs> Részletek
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nincs találati eredmény az alábbi névre: "{{input.value}}"</td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Álláshirdetések száma / oldal"></mat-paginator>
    </div>

  </div>
</div>