<app-navigation></app-navigation>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/login"><strong>
            <i-bs name="person-lines-fill" width="25" height="25">
            </i-bs> Bejelentkezés
          </strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration"><strong>
            <i-bs name="person-plus-fill" width="25" height="25">
            </i-bs> Regisztráció
          </strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help"><strong>
            <i-bs name="info-circle-fill" width="25" height="25">
            </i-bs> Tájékoztató
          </strong></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h3>Bejelentkezés</h3>
    <div class="container">
      <div class="jumbotron">
        <form *ngIf="!showVerificationForm" #form="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
                [(ngModel)]="email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
                [(ngModel)]="password" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            <i-bs name="check-circle-fill" width="25" height="25">
            </i-bs> Bejelentkezek
          </button><br />
        </form>
        <button *ngIf="!showVerificationForm" type="submit" (click)="forgotPassword()" class="btn btn-danger">
          <i-bs name="exclamation-triangle-fill" width="25" height="25">
          </i-bs> Elfelejtettem a jelszavam
        </button>
        <form *ngIf="showVerificationForm" #form="ngForm" (ngSubmit)="onLoginVerification()" novalidate>
          <div class="form-group row">
            <label for="verificationCode" class="col-sm-5 col-form-label">Emailben elküldött bejelentkezést megerősítő
              kód:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="verificationCode" placeholder="Enter verification code"
                name="verificationCode" [(ngModel)]="verificationCode" required>
            </div>
          </div>
          <button type="button" (click)="backToIndex()" class="btn btn-primary">
            <i-bs name="arrow-left-circle-fill" width="25" height="25">
            </i-bs> Mégsem
          </button>
          <button type="button" (click)="onLogin()" class="btn btn-danger">
            <i-bs name="exclamation-triangle-fill" width="25" height="25">
            </i-bs> Kód újraküldése
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
            <i-bs name="check-circle-fill" width="25" height="25">
            </i-bs> Küldés
          </button><br />
        </form>
      </div>
    </div>
  </div>
</div>