<app-navigation></app-navigation>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/login"><strong>Bejelentkezés</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/registration"><strong>Regisztráció</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help"><strong>Tájékoztató</strong></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h3>Bejelentkezés</h3>
    <div class="container">
      <div class="jumbotron">
        
        <form #form="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" 
              [(ngModel)]="email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Enter password" 
              name="password" [(ngModel)]="password" required> 
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Bejelentkezek</button>
        </form>
      </div>
    </div>
  </div>
</div>

 