<app-navigation></app-navigation>
<div class="card text-center">
  <div class="card-body">
    <h3>Profil módosítása</h3>
    <div class="container">
      <div class="jumbotron">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <div class="alert alert-danger" *ngIf="f.name.invalid && f.name.touched">
              <div *ngIf="f.name.errors.required">
                Név megadása kötelező!
              </div>
            </div>
            <label for="name" class="col-sm-2 col-form-label">Teljes név:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" 
                [(ngModel)]="name" formControlName="name" maxlength="50" required>
            </div>
          </div>
          <div class=" md-outline input-with-post-icon datepicker form-group row">
            <label for="dateOfBorn" class="col-sm-2 col-form-label">Születés dátuma:</label>
            <div class="col-sm-10">
              <input placeholder="Születési idő" type="date" [(ngModel)]="dateOfBorn" name="dateOfBorn" 
                id="dateOfBorn" class="form-control" formControlName="dateOfBorn" maxvalue=date()>
            </div>
          </div>
          <div class="form-group row">
            <label for="phoneNumber" class="col-sm-2 col-form-label">Telefonszám:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                placeholder="Enter phoneNumber" [(ngModel)]="phoneNumber" maxlength="20">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Módosítom</button>
          <button (click)="backToList()" class="btn btn-primary">Mégsem</button>
        </form>
      </div>
    </div>
  </div>
</div>