<app-navigation></app-navigation>
<div class="card">
    <div class="card-header">
        <h1>Részletek:</h1>
    </div>
    <div class="card-body">
        <div class="card-text">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-center">
                                <h3 class="title">Állás adatai:</h3>
                            </th>
                            <td class="text-center">
                                <button *ngIf="!existApplication(details.advertisement.id)"
                                    (click)="apply(details.advertisement.id)" class="btn btn-success">Jelentkezem az
                                    állásra</button>
                                <button *ngIf="existApplication(details.advertisement.id)"
                                    (click)="getApplicationDetails()" class="btn btn-success">Jelentkezésem
                                    megtekintése</button>
                                <button (click)="backToList()" class="btn btn-primary">Vissza a listához</button>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Cím:</th>
                            <td>{{details.advertisement.title}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Típus:</th>
                            <td>{{details.advertisement.type}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Helyszín:</th>
                            <td *ngIf="details.advertisement.city">{{details.advertisement.city}}</td>
                            <td *ngIf="!details.advertisement.city">Nincs megadva!</td>
                        </tr>
                        <tr>
                            <th scope="row">Fizetés:</th>
                            <td *ngIf="details.advertisement.payment!=0">{{details.advertisement.payment}} Ft</td>
                            <td *ngIf="details.advertisement.payment==0">Nincs megadva!</td>
                        </tr>
                        <tr>
                            <th scope="row">Leírás:</th>
                            <td><textarea
                                    style="width: 100%; height: 200px; border: 0px;">{{details.advertisement.description}}</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="text-center">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                    data-target="#collapseEmployerDetails" aria-expanded="false"
                    aria-controls="collapseEmployerDetails">
                    Álláshirdető adatai
                </button>
            </p>
            <div class="collapse" id="collapseEmployerDetails">
                <div class="card card-body">
                    <div class="profileImage">
                        <img *ngIf="picture" src="{{imagePath}}">
                        <img *ngIf="!picture" src="{{storageURL}}blank_profile.png?alt=media">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row" colspan="2">
                                        <h3>Álláshirdető adatai:</h3>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">Név:</th>
                                    <td>{{details.user.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email cím:</th>
                                    <td>{{details.user.email}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Telefonszám:</th>
                                    <td>{{details.user.phoneNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button *ngIf="!existApplication(details.advertisement.id)" (click)="apply(details.advertisement.id)"
                    class="btn btn-success">Jelentkezem az
                    állásra</button>
                <button *ngIf="existApplication(details.advertisement.id)" (click)="getApplicationDetails()"
                    class="btn btn-success">Jelentkezésem
                    megtekintése</button>
                <button (click)="backToList()" class="btn btn-primary">Vissza a listához</button>
            </div>
        </div>
    </div>
</div>