<app-navigation></app-navigation>
<div class="card text-center alert alert-danger">
    <div class="card-header">
        <h1>Email m=dos\t's</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Az email módosítása nem sikerült!</h5>
        <p class="card-text">
            Kérlek próbálj belépni az eredeti email címmel, és újrakérni a módosítást. Amennyiben valamilyen probléma
            merült fel, kérlek írj az alábbi email címre:
            <b>{{szakdolgozatEmail}}</b>
        </p>
        <button class="btn btn-info" (click)="backToIndex()">
            <i-bs name="arrow-left-circle-fill" width="25" height="25">
            </i-bs>Vissza a kezdőlapra
        </button>
    </div>
</div>