.profileImage{
    margin: auto;
    width: 100%;
    text-align: center;
  }
.photo input, button{
    margin-bottom: 10px;
  }
img{
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
  }
table{
    width: 50%;
    margin:auto;
    border: 1px solid black;
}
table tr{
    text-align: left;
}
.isValidated{
    color: green;
}
.noValidated{
    color: red;
}
button{
    margin: 10px 20px;
}
@media only screen and (max-width: 767px) {
    table{
        width: 100%;}
    }

  