<app-navigation></app-navigation>
<div class="card">
    <div class="card-header">
        Üzeneteim:
    </div>
    <div class="card-body">
        <div *ngIf="!existData" class="alert alert-warning text-center">
            <i-bs name="clipboard-x" width="75" height="75">
            </i-bs> <br>
            Még nem küldtél, illetve nem kaptál üzenetet. Kérlek nézz vissza kicsit később!
            <br><br>
        </div>
        <ng-template ngFor let-row [ngForOf]="messages">
            <div *ngIf="(row.lastMessage.fromEmployer && isEmployer) || (!row.lastMessage.fromEmployer && !isEmployer)"
                class="message-orange">
                <p>Beszélgetés vele: {{row.otherPerson.name}}
                    <span>
                        <button class="btn btn-success" (click)="sendMessage(row.otherPerson.id)">Beszélgetések
                            megtekintése</button></span>
                </p>
                <p class="message-content">Utolsó üzenet: {{row.lastMessage.message}}</p>
                <div class="message-timestamp-left">Én küldtem: {{row.lastMessage.dateOfSending | date:'yyyy/MM/dd -
                    HH:mm'}}</div>
            </div>
            <div *ngIf="(row.lastMessage.fromEmployer && !isEmployer) || (!row.lastMessage.fromEmployer && isEmployer)"
                class="message-blue">
                <p>Beszélgetés vele: {{row.otherPerson.name}}
                    <span>
                        <button class="btn btn-success" (click)="sendMessage(row.otherPerson.id)">Beszélgetések
                            megtekintése</button></span>
                </p>
                <p class="message-content">{{row.lastMessage.message}}</p>
                <div class="message-timestamp-left">{{row.otherPerson.name}} küldte: {{row.lastMessage.dateOfSending |
                    date:'yyyy/MM/dd - HH:mm'}}</div>
            </div>
        </ng-template>
    </div>
</div>