.imageAdmin img{
    margin-top: 40px;
    width: 50%;
}
.btn{
  margin: 20px;
}
.records{
  color: red;
  font-size: large;
  font-weight: bold;
}
.alert{
  padding: 20px;
  border: 5px solid orange; 
  margin-bottom: 30px;
}
  button{
    margin: 10px;
  }
  h2{
    text-align: center;
  }
  i-bs{
    color: green;
  }
  

  