.imageAdmin img{
    margin-top: 10px;
    width: 30%;
}
.card{
  margin: auto;
}
.btn{
  margin: 20px;
}
.records{
  color: red;
  font-size: large;
  font-weight: bold;
}
.alert{
  padding: 20px;
  border: 5px solid orange; 
  border-radius: 25px;
  margin-bottom: 30px;
}
  button{
    margin: 10px;
  }
  h2{
    text-align: center;
  }

  @media only screen and (max-width: 767px) {
    .imageAdmin img{
      width: 50%;
  }
  }
  
  

  