<app-navigation></app-navigation>
<div class="card text-center">
  <div class="card-body">
    <h3>Jelszó módosítás</h3>
    <div class="container">
      <div class="jumbotron">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <div class="alert alert-danger" *ngIf="f.password.invalid && f.password.touched">
              <div *ngIf="f.password.errors.required">
                Minimum 8 karakter hosszúságú legyen!
              </div>
              <div *ngIf="f.password.errors.pattern">
                Tartalmazzon számokat, kis és nagybetűket.
              </div>
            </div>
            <div class="alert alert-warning" *ngIf="!f.password.touched">
              Jelszó megadása kötelező!
            </div>
            <label for="password" class="col-sm-2 col-form-label">Jelszó:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="Enter password" 
              name="password" [(ngModel)]="password" formControlName="password" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength="8" required>
            </div>
          </div>
          <div class="form-group row">
            <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" 
              class="alert alert-danger">
              <div *ngIf="f.confirm_password.errors.required">Jelszó megadása kötelező!.</div>
              <div *ngIf="f.confirm_password.errors.passwordValidation">
                A jelszó és megerősítő jelszó nem egyezik!
              </div>
            </div> 
            <div class="alert alert-warning" *ngIf="!f.confirm_password.touched">
              Jelszó megadása kötelező!
            </div>   
            <label for="confirm_password" class="col-sm-2 col-form-label">Jelszó mégegyszer:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirm_password" 
                placeholder="Enter password" name="confirm_password"  formControlName="confirm_password"  
                required>
            </div>        
          </div>    
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid" style="margin-right: 20px">
            Módosítom
          </button>
          <button (click)="backToProfile()" class="btn btn-primary" style="margin-right: 20px">
            Mégsem
          </button>
        </form>
      </div>
    </div>
  </div>
</div>