.profileImage{
    margin: auto;
    width: 100%;
    text-align: center;
  }
  
  .photo input, button{
    margin-bottom: 10px;
  }
  
  img{
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
  }

  button{
    margin: 10px 20px;
  }