<app-navigation></app-navigation>
<div class="card text-center">
  <div class="card-body">
    <div class="container">
      <div class="jumbotron">  
        <h2>Jelszó visszaállítása</h2>
        <h4>Kérlek add meg az email címedet!</h4>
        <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" 
                [(ngModel)]="email"  #emailError="ngModel" pattern="[a-z0-9_.+-]+@[a-z0-9-]+\.[a-z0-9-]+" 
                required>
            </div>
            <div class="alert alert-danger" *ngIf="emailError.invalid && emailError.touched">
              <div *ngIf="emailError.errors.required">
                Email cím megadása kötelező!
              </div>
              <div *ngIf="emailError.errors.pattern">
                Nem egyezik az email mintával!
              </div>
            </div>
          </div>  
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Küldés</button><br/><br/>
          <a routerLink="/login">Vissza a bejelentkezésre</a>
        </form>
      </div>
    </div>
  </div>
</div>
