<nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top"> Főoldal
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i-bs name="gear-fill" width="25" height="25">
          </i-bs> Felügyelet
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/employees">
            <i-bs name="bag-plus-fill" width="25" height="25">
            </i-bs> Álláskeresők
          </a>
          <a class="dropdown-item" routerLink="/employers">
            <i-bs name="person-plus-fill" width="25" height="25">
            </i-bs> Álláshirdetők
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isValidated">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Állásaim</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/employer/advertisement/create">Új állás létrehozása</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isEmployee">
        <a class="nav-link" href="/">Álláskeresés</a>
      </li>
      <li class="nav-item" *ngIf="isEmployee">
        <a class="nav-link" routerLink="/employee/application/list">Jelentkezéseim</a>
      </li>
      <li class="nav-item" *ngIf="isEmployee || isEmployer">
        <a class="nav-link" routerLink="/all_message">Üzenetek</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span *ngIf="!isLogged">
            <i-bs name="person-lines-fill" width="25" height="25">
            </i-bs> Bejelentkezés
          </span>
          <span *ngIf="isLogged">
            <i-bs name="file-earmark-person-fill" width="25" height="25">
            </i-bs> Fiókom
          </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" *ngIf="!isLogged" routerLink="/login">
            <i-bs name="person-lines-fill" width="25" height="25">
            </i-bs> Bejelentkezés
          </a>
          <a class="dropdown-item" *ngIf="!isLogged" routerLink="/registration">
            <i-bs name="person-plus-fill" width="25" height="25">
            </i-bs> Regisztráció
          </a>
          <a class="dropdown-item" *ngIf="isEmployee || isEmployer" routerLink="/profile">
            <i-bs name="person-square" width="25" height="25">
            </i-bs> Profilom
          </a>
          <a class="dropdown-item" type="button" *ngIf="isLogged" (click)="onLogout()">
            <i-bs name="box-arrow-right" width="25" height="25">
            </i-bs> Kijelentkezés
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav><br /><br /><br />